/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: white;
}

/* line 12, ../sass/screen.scss */
.side {
  list-style-type: none;
  text-decoration: none;
}

/* line 18, ../sass/screen.scss */
.overlay {
  background-color: #080707;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  /* display:none;*/
}

/* line 27, ../sass/screen.scss */
.login-titre {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4%;
}

/* line 32, ../sass/screen.scss */
.sous-login-user {
  width: 80%;
  padding: 8px 5px;
  margin: 5%;
}

/* line 37, ../sass/screen.scss */
.login-user {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #0d0d0d;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 50vw;
  transform: translate(50%, 30%);
}

/* line 46, ../sass/screen.scss */
.burger-nom {
  font-size: 2rem;
  color: red;
}

/* line 50, ../sass/screen.scss */
.votre-panier {
  background-color: orange;
  width: 90vw;
  margin-left: 4.5%;
  text-align: center;
  margin-top: 10%;
  font-size: 1.8rem;
}

/* line 59, ../sass/screen.scss */
.titre-burger {
  padding: 10px;
  text-align: center;
}

/* line 65, ../sass/screen.scss */
.titre-burger h1 {
  font-size: 1rem;
}

/* line 69, ../sass/screen.scss */
.form-burger {
  width: 80%;
  padding: 20px;
}

/* line 73, ../sass/screen.scss */
.btn-burger {
  margin-bottom: 0%;
  padding: 10px 5px;
  margin-left: 0;
  margin-top: 3%;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

/* line 85, ../sass/screen.scss */
.img-burger {
  margin-top: 5%;
}

/* line 88, ../sass/screen.scss */
.ajout-burger {
  width: 50vw;
  transform: translate(50%, 15%);
}

/* line 92, ../sass/screen.scss */
.form-control {
  margin-left: 0;
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

/* line 101, ../sass/screen.scss */
.total-burger {
  background-color: orange;
  color: white;
}

/* line 105, ../sass/screen.scss */
.com-panier a {
  text-decoration: none;
}

/* line 108, ../sass/screen.scss */
.com-panier {
  margin-top: 1%;
}

/* line 112, ../sass/screen.scss */
.panier-commander {
  background-color: red;
  padding: 10px 5px;
  color: white;
  margin-left: 4.5%;
  border-radius: 5px;
}

/* line 122, ../sass/screen.scss */
.menu-nom {
  text-align: center;
}

/* line 125, ../sass/screen.scss */
.panier-vide {
  text-align: center;
  color: red;
  margin-top: 3%;
  font-size: 1.5rem;
}

/* line 131, ../sass/screen.scss */
.table-panier {
  background-color: black;
}

/* line 134, ../sass/screen.scss */
.list-burger {
  background-color: orange;
  margin-bottom: -1.5%;
}

/* line 139, ../sass/screen.scss */
.inscription {
  background-color: orange;
  height: 100vh;
  background-attachment: fixed;
}

/* line 145, ../sass/screen.scss */
.register-inscription {
  margin-bottom: 4%;
  font-size: 1rem;
}

/* line 149, ../sass/screen.scss */
.card-inscription {
  transform: translate(10%, 5%);
  width: 40vw;
}

/* line 153, ../sass/screen.scss */
.btn-inscription {
  padding: 10px 5px;
  margin-top: 3%;
  border-radius: 5px;
  border: 0px;
  background-color: orange;
  color: white;
}

/* line 161, ../sass/screen.scss */
.register {
  background-color: black;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  color: white;
  height: 80vh;
  transform: translate(45%, 10%);
  border-radius: 5px;
  width: 50vw;
}

/* line 171, ../sass/screen.scss */
.thead-burger {
  background-color: black;
}

/* line 174, ../sass/screen.scss */
#description {
  text-align: center;
  transform: translateY(20%);
}

/* line 179, ../sass/screen.scss */
.menu-commande {
  margin-left: 15%;
}

/* line 182, ../sass/screen.scss */
.page-login {
  background-color: orange;
  height: 100vh;
}

/* line 188, ../sass/screen.scss */
#btn-login {
  /*  transform: translateX(20%); */
  margin-bottom: 2%;
  padding: 10px 20px;
  margin-left: 45%;
  margin-top: 3%;
  background-color: orange;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

/* line 200, ../sass/screen.scss */
#menu-detail {
  display: flex;
}

/* line 204, ../sass/screen.scss */
.btnClose {
  cursor: pointer;
}

/* line 207, ../sass/screen.scss */
.popup {
  margin: 10% auto;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* line 215, ../sass/screen.scss */
.menu {
  width: 100%;
}

/* line 220, ../sass/screen.scss */
#btnClose {
  transform: translateX(100%);
}

/* line 224, ../sass/screen.scss */
.text-center {
  font-size: 3rem;
}

/* line 227, ../sass/screen.scss */
.full-png {
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: orange;
  display: flex;
}

/* line 234, ../sass/screen.scss */
.btn-remove {
  color: red;
}

/* line 237, ../sass/screen.scss */
.button-commander a {
  color: white;
}

/* line 240, ../sass/screen.scss */
.button-commander {
  background-color: red;
  margin-left: 4.5%;
  padding: 8px 10px;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* line 249, ../sass/screen.scss */
.user-commande {
  transform: translateX(25%);
  color: red;
  font-size: 2rem;
}

@media (max-width: 900px) {
  /* line 255, ../sass/screen.scss */
  .full-png {
    border: 1px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: orange;
    display: flex;
  }

  /* line 262, ../sass/screen.scss */
  .detail-menu-img img {
    width: 150px;
  }

  /* line 265, ../sass/screen.scss */
  nav ul li a {
    font-size: 0.6rem;
  }

  /* line 269, ../sass/screen.scss */
  .full-png img {
    width: 180px;
  }

  /* line 274, ../sass/screen.scss */
  .image-homme {
    margin-left: 25%;
  }
}
/* line 281, ../sass/screen.scss */
.image-homme {
  margin-left: 25%;
}

/* line 285, ../sass/screen.scss */
.image-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 292, ../sass/screen.scss */
.image-burger {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

/* line 302, ../sass/screen.scss */
.burger-nom-prix {
  margin: 10px 0px;
  font-size: 1.3rem;
  font-family: sans-serif;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  color: #fbf9f9;
}

/* line 311, ../sass/screen.scss */
.image-titres-burger {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(251, 159, 1, 0.852);
  flex-basis: 50%;
  max-width: 250px;
  margin: 15px 10px;
  border-radius: 10px;
}

/* line 319, ../sass/screen.scss */
.ajout-burger-detail {
  margin: 10px 5px;
  text-decoration: none;
  padding-bottom: 10px;
  text-emphasis: none;
}

/* line 326, ../sass/screen.scss */
.add-burger {
  background-color: red;
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  margin-bottom: 2%;
  margin-right: 2%;
}

/* line 337, ../sass/screen.scss */
footer {
  background-color: black;
  height: 10vh;
  margin-top: 3%;
}

/* line 342, ../sass/screen.scss */
.p-burger {
  margin-top: 3%;
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  background-color: black;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 82.5%;
  transform: translateX(10%);
  padding: 10px 5px;
}

/* line 357, ../sass/screen.scss */
.p-menu {
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  background-color: black;
  padding: 10px 5px;
  width: 82.5%;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transform: translateX(10%);
}

/* line 368, ../sass/screen.scss */
.detail-burger {
  background-color: black;
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
}

/* line 375, ../sass/screen.scss */
.lien-commande-burger-detail {
  border: 1px solid #f9f5f5;
  justify-content: center;
  text-align: center;
  margin: 0px 0px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: orange;
}

/* line 384, ../sass/screen.scss */
#pp {
  text-align: center;
  width: 60vw;
  color: black;
  height: 13vh;
  transform: translate(75%, -325%);
  position: absolute;
  padding: 40px;
}

/* line 397, ../sass/screen.scss */
.background-image {
  width: 100vw;
}

/* li a {
    color:white;
    margin-right: 5%;
*/
/* line 405, ../sass/screen.scss */
#catalogue {
  margin-right: 5%;
}

/* line 409, ../sass/screen.scss */
.li {
  color: white;
  margin-right: 3%;
  width: 100%;
  padding-right: 10px;
}

/* line 417, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 421, ../sass/screen.scss */
nav ul li a {
  text-decoration: none;
  color: black;
  background-color: #f9f8f7;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* line 429, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  margin-right: 15px;
}

/* line 436, ../sass/screen.scss */
nav {
  flex: 1;
  text-align: right;
  margin-right: 2%;
}

/* line 441, ../sass/screen.scss */
.ajout-burger-detail a {
  text-decoration: none;
}

/* line 444, ../sass/screen.scss */
nav ul {
  display: inline-block;
  list-style-type: none;
}

/* line 448, ../sass/screen.scss */
.nav-menu {
  display: flex;
  align-items: center;
  background-color: black;
}

/* line 456, ../sass/screen.scss */
table {
  width: 90vw;
  border: 1px solid;
  transform: translateX(5%);
}

/* line 464, ../sass/screen.scss */
.p-burg {
  background-color: red;
  padding: 10px 5px;
  border-radius: 5px;
}

/* line 471, ../sass/screen.scss */
.tr-panier {
  background-color: orange;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* line 478, ../sass/screen.scss */
.td-panier {
  color: white;
  background-color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* line 484, ../sass/screen.scss */
table tr {
  border: 1px solid;
}

/* line 487, ../sass/screen.scss */
table tr td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid;
}

/* line 493, ../sass/screen.scss */
.image-logo img {
  width: 60px;
}

/* line 496, ../sass/screen.scss */
.kn_paginator_render_burger {
  background-color: #010101;
  border-radius: 0px;
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 10px;
  color: orange;
  /* width: 20vw; */
  transform: translateX(15%);
  margin-bottom: 2%;
  width: 29%;
}

/* line 511, ../sass/screen.scss */
.knp_pagination {
  background: white;
  text-align: center;
  transform: translateX(30%);
}

/* line 516, ../sass/screen.scss */
.table-burger-titre {
  transform: translateY(25%);
}

/* line 520, ../sass/screen.scss */
.table-commande-titre {
  transform: translateY(10%);
}

/* .burgers-prix{
    text-align: center;
    margin-left: 5%;
    background-color: red;
} */
/* line 530, ../sass/screen.scss */
.table-burg {
  background-color: black;
  text-align: center;
  color: white;
}

/* .lien-a{
    background-color: blue;
} */
/* line 540, ../sass/screen.scss */
td a {
  text-decoration: none;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: orange;
  margin-top: 1%;
  margin-right: 2%;
}

/* line 551, ../sass/screen.scss */
.btn-add-burger {
  text-align: right;
  margin-bottom: 0.5%;
  border: 1px solid;
}

/* line 556, ../sass/screen.scss */
.button-burger {
  background-color: black;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: right;
}

/* line 566, ../sass/screen.scss */
.td-burger {
  background-color: white;
  color: black;
}

/* line 571, ../sass/screen.scss */
.table-tr {
  background-color: red;
}

/* line 574, ../sass/screen.scss */
.liste-burger-titre {
  width: 90vw;
  transform: translateX(4.5%);
  text-align: center;
  color: white;
  padding: 20px 5px;
}

/* line 584, ../sass/screen.scss */
ul a {
  display: flex;
}

/* .side{
text-align:right;
padding:20px 50px;
margin:2%;
display:flex;


} */
/* .knp_pagination{
    background-color: black;
    width: 90vw;
    transform: translateX(5%);
    text-align: center;
} */
/* line 604, ../sass/screen.scss */
.li-inscrire {
  transform: translateX(47%);
  margin-bottom: 2%;
}

/* line 608, ../sass/screen.scss */
#lien-inscrire {
  color: white;
}

/* line 614, ../sass/screen.scss */
#a1 {
  margin-left: 30px;
}

/* line 618, ../sass/screen.scss */
.card {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border: 0;
}

/* a:hover{
    background:orange;
    width:100%;
    top:0;
    margin:0;
    padding:5px 5px;
    border-radius:5px;
}  */
